.description {
    margin: 1rem;
    color: var(--text-color);
}

.img-wrapper {
    display: flex;
    max-height: 100vh;
    margin-bottom: 1rem;
}
    .img-wrapper img {
        object-fit: contain;
    }