@page "/overview"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js


<div class="covers">

    @if (imageCollectionSummaries == null)
    {
        @for (int i = 0; i < 10; i++)
        {
            <CollectionPlaceHolder />
        }
    }
    else
    {
        @foreach (ImageCollectionSummary imageCollectionSummary in imageCollectionSummaries)
        {
            <CollectionCover ImageCollectionSummary="imageCollectionSummary"></CollectionCover>
        }
    }

</div>

<CopyrightFooter />
    

@code {
    private List<ImageCollectionSummary> imageCollectionSummaries;

    protected override async Task OnInitializedAsync()
    {
        imageCollectionSummaries = await http.GetFromJsonAsync<List<ImageCollectionSummary>>("api/ImageCollectionSummaries");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Restore saved scroll (if present)
            await js.InvokeVoidAsync("blazorScroll.restore", "overviewScroll");
        }
    }
}
