@page "/overview"
@inject HttpClient http
@inject NavigationManager navigation

<div class="covers">
    @if (imageCollectionSummaries != null)
    {
        foreach (ImageCollectionSummary imageCollectionSummary in imageCollectionSummaries)
        {
            <CollectionCover ImageCollectionSummary="imageCollectionSummary"></CollectionCover>
        }
    }
</div>

@code {
    private List<ImageCollectionSummary> imageCollectionSummaries;

    protected override async Task OnInitializedAsync()
    {
        imageCollectionSummaries = await http.GetFromJsonAsync<List<ImageCollectionSummary>>("api/ImageCollectionSummaries");
    }
}
