@page "/overview"
@inject HttpClient http
@inject NavigationManager navigation

    @if (imageCollectionSummaries != null)
    {
        <div class="covers">
            @foreach (ImageCollectionSummary imageCollectionSummary in imageCollectionSummaries)
            {
                <CollectionCover ImageCollectionSummary="imageCollectionSummary"></CollectionCover>
            }
        </div>
    }
    else
    {
        <i class="fas fa-circle-notch fa-spin fa-lg" style="margin:1rem 0.85rem;"></i>
    }

@code {
    private List<ImageCollectionSummary> imageCollectionSummaries;

    protected override async Task OnInitializedAsync()
    {
        imageCollectionSummaries = await http.GetFromJsonAsync<List<ImageCollectionSummary>>("api/ImageCollectionSummaries");
    }
}
