@page "/test"

<div class="container">
    @* <img src="https://snickarnilsstorage.blob.core.windows.net/1matbord/cover.JPG" /> *@

    <img src="https://snickarnilsstorage.blob.core.windows.net/4staffli/cover.JPG" />
</div>

<div class="container">
    <img src="https://snickarnilsstorage.blob.core.windows.net/1matbord/cover.JPG" />

    @* <img src="https://snickarnilsstorage.blob.core.windows.net/4staffli/cover.JPG" /> *@
</div>

@code {

}
