.banner {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    background-color: var(--accent-color);
    color: var(--background-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--text-color);
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
}
    .banner h1 {
        font-size: 2rem;
        outline: none;
    }

    .banner i {
        flex: 1;
        padding-left: 0.6rem;
    }

.main-content {
    max-width: 960px;
    margin-inline: auto;
    padding: 2rem;
}
